<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993553078190-h27tq8e8esae6n48lqhqcp3d6c34ap1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993553078190-h27tq8e8esae6n48lqhqcp3d6c34ap1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAj3oFcap8EE7iAHJDgCjz28jKLmduRzog</string>
	<key>GCM_SENDER_ID</key>
	<string>993553078190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TarekRefaei.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryflutter-75543</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryflutter-75543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993553078190:ios:4f38f590269ad688149a3f</string>
</dict>
</plist>